footer {
    background-color: white;
    height: 60px;
    margin-top: auto;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    line-height: 60px;
    border-top: 1px solid #CCCCCC;
}
